<h3>Crypto Currency Lookup</h3>
<br>

<%= form_tag home_lookup_path, :method => 'POST' do %>
  <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50 , class: "form-control"%>
  <br>
  <%= submit_tag 'Lookup Stock Quote', class: "btn btn-primary form-control" %>
<% end %>

<br><br>

<%= @symbol %>
<!-- if @symbol exist -->
<% if @symbol %>
<% for x in @lookup_coins %>
    <% if @symbol == x["symbol"] %> <br>
      <%= x["name"] %> : $<%= x["price_usd"] %><br>
        Rank <%= x["rank"] %>
    <% end %>
<% end %>
<% end %>
